<%- include("../partials/nav") %>
<body class="jetLoginDella">
  <div class="boxLoginDella"> 
  <div>
<form action="/auth/login" method="POST">
  <label class="labelLoginDella" for="auth-email">Email</label>

  <input class="inputLoginDella" id="auth-email" type="email" name="email">
</div>

<div>
  <label class="labelLoginDella" for="auth-password">Password</label>
  <input class="inputLoginDella" id="auth-password" type="password" name="password">
</div>

<div>
  <input class="loginBoxDella" type="submit" value="Log In">
</div>
</form>
</div>
</body>
