<%- include("../partials/nav") %>
<body class="jetLogin">
  <div class="boxLogin"> 
  <div>
<form action="/auth/login" method="POST">
  <label class="labelLogin" for="auth-email">Email</label>

  <input class="inputLogin" id="auth-email" type="email" name="email">
</div>

<div>
  <label class="labelLogin" for="auth-password">Password</label>
  <input class="inputLogin" id="auth-password" type="password" name="password">
</div>

<div>
  <input class="loginBox" type="submit" value="Log In">
</div>
</form>
</div>
</body>
