<%- include("../partials/nav") %>
<body class="jetSignupDella">
  <div class="boxSignupDella"> 
    <div class="maldivesDella">
  <form action="/auth/signup" method="POST">
  <label class="labelBoxDella" for="new-email">Email</label>

  <input class="inputBoxDella" id="new-email" type="email" name="email" required>
  
  <label class="labelBoxDella" for="new-name">Name</label>
  
  <input class="inputBoxDella" id="new-name" type="text" name="name">
  
  <label class="labelBoxDella" for="new-password">Password</label>
  
  <input class="inputBoxDella" id="new-password" type="password" name="password" min="8">
  
  <input class="submitBoxDella" type="submit" value="Sign up">
</form>
</div>
</div>
</body>