<%- include("../partials/nav") %>
<body class="jetSignup">
  <div class="boxSignup"> 
    <div class="maldives">
  <form action="/auth/signup" method="POST">
  <label class="labelBox" for="new-email">Email</label>

  <input class="inputBox" id="new-email" type="email" name="email" required>
  
  <label class="labelBox" for="new-name">Name</label>
  
  <input class="inputBox" id="new-name" type="text" name="name">
  
  <label class="labelBox" for="new-password">Password</label>
  
  <input class="inputBox" id="new-password" type="password" name="password" min="8">
  
  <input class="submitBox" type="submit" value="Sign up">
</form>
</div>
</div>
</body>