<script>
    function myFunction(){
        document.getElementById("myDropdown").classList.toggle("show")
    }
</script>

<div class="dashboard-container">
    <h2>Dashboard</h2>
    <h3>Welcome to the Dashboard</h3>
    <!-- need drop down -->
    <!-- Hardcode the nav onto every page needed -->
    <% if (!currentUser) { %>
        <li><a class="signCenter" href="/auth/signup">Signup</a></li>
        <li><a class="loginCenter" href="/auth/login">Login</a></li>
        <% } %>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <!-- add overflow-y for scrollable dropdown -->
                <% destData.forEach(function (destData){ %>
                <a href="destinations/<%= destData.destinationId %>"><%= destData.destinationName %></a>
                <% }) %>
            </div>
        </div>
</div>
