<body class="homeDella">
  <div class="boxHomeDella">
    <li><a class="signInHomeDella" href="/auth/signup">Signup</a></li>
    <li><a class="loginHomeDella" href="/auth/login">Login</a></li>
  </div>
</body>
