// Variables go below
$header-text: #17252A;
$dark-green: #2B7A78;
$base-color: #3AAFA9; 
$text-color: #DEF2F1;
$white: #FEFFFF;
$form-opacity: rgba(0, 0, 0, 0.2);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

    // background-color: $base-color;
    background-image: linear-gradient(114.75deg, $dark-green 50%, $text-color 50%, $base-color 50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    div.nav-view{
        display:none;
        height: 10%;
        width: 80%;
        // border-bottom: 2pt solid black;

        // display: flex;
        justify-content: center;
        align-items: space-evenly;
        header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            nav {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    div{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        li {
                            a{
                                color: $text-color;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    div.main-view{
        // background-color: $base-color;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
        height: 95%;
    }
}
// Dashboard
.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    .top-text{
        padding-top: 15pt;
        margin-bottom: 50pt;
        height: 150pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 38pt;
        }
        h3{
           font-size: 20pt;
           font-weight: 300;
        }
        h2, h3{
            color: $header-text;
            margin-bottom: 15pt;
        }
        div{
            font-size: 150px;
        }
    }
}

.dropbtn{
    background-color: $header-text;
    color: white;
    // padding: 16px;

    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;

    // border-bottom: 2pt solid $header-text;
    // border-top: 2pt solid $header-text;
    // padding-top: 50pt;
    h3{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dropbtn:hover, .dropbtn:focus{
    background-color: $dark-green;
    h3:hover{
        color: $header-text;
        text-decoration: underline;
    }
}

.dropdown{
    position: relative;
    display: inline-block;

    width: 100%;
    button{
        h3{
            font-size: 26pt;
            font-weight: 100;
            // Eventually I want to transition into the letter spacing
            letter-spacing: 5pt;
        }
    }
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $form-opacity;
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    color: $header-text;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 2pt solid $header-text;
    padding: 25pt 0;
}

.dropdown-content a:hover{
    background-color: #ddd;
    color: $dark-green;
    text-decoration: underline;
}

.show { display: block; }

.dropdown-content.show{
    height: 300pt;
    width: 100%;
    overflow-y: scroll;
    // bottom allows for the mobile menu to scroll up
    bottom: 100%;
    border-top: 2pt solid $header-text;
    font-size: 26px;

}
// for singleshow.js
div.city-show{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: 90%;
        width: 100%;
        h2{
            margin-top: 15pt;
        }
        img{
            height: 250pt;
            width: 250pt;
            border-radius: 15pt;
            border: 3.5pt solid $header-text;
        }
    }
    form{
        height: 10%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        button{
            background-color: $header-text;
            height: 100%;
            width: 100%;

            color: $text-color;
            font-size: 26pt;
        }
    }
}
// allreview.ejs
div.allreviews-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        text-align: center;
        font-size: 36pt;
        color: $header-text;
        margin-bottom: 10pt;
    }
    a{
        margin-bottom: 15pt;
        text-decoration: none;
        color: peachpuff;
        height: 20px;
        // width: 40px;
    }
    a + a{
        display: none;
    }
    div.well{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 15pt;
        width: 100%;
    
        background-color: $form-opacity;
        h4{
            font-size: 22pt;
            margin-bottom: 5pt;
        }
        h5{
            font-size: 16pt;
            font-weight: 300;
            margin-bottom: 5pt;
        }
        p{

        }
        a{

        }
    }
}
// New review page
div.new-review-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1{
        color: $header-text;
    }
    div.arrow{
        font-size: 150px;
        color: $header-text;
    }
    form{
        width: 100%;
        height: 50%;
        background-color: $form-opacity;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        div.form-top{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div{
                width: 100%;
                display: flex;
                justify-content: space-between;
                h3{
                    color: $header-text;
                }
                h3#username{
                    color: $text-color;
                }
                h3#cityname{
                    color: $text-color;

                }
            }
        }
        div.form-input{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            textarea#reviewcontent{
                height: 70%;
                width: 90%;
            }
            input.sub-btn{
                width: 90%;
                height: 15%;
            }
        }
    }
}
// Edit Review
div.edit-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1{
        color: $header-text;
    }
    div.arrow{
        font-size: 150px;
        color: $header-text;
    }
    form{
        background-color: $form-opacity;
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        div.form-top{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div{
                width: 100%;
                display: flex;
                justify-content: space-between;
                h3{
                    color: $header-text;
                }
                h3#username{
                    color: $text-color;
                }
                h3#cityname{
                    color: $text-color;
                }
            }
        }
        div.form-input{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            textarea#reviewcontent{
                height: 70%;
                width: 90%;
                color:$header-text;
            }
            input{
                width: 90%;
                height: 15%;
            }
        }
    }
}
// 

.alert.alert-success{
    color: $base-color;
}

@media only screen and (min-width: 768px) {
    body{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-image: none;
        background-color: $base-color;
        // for all of the nav elements
        div.nav-view{
            width: 100%;
            height: 5%;
            display: block;
            background-color: $header-text;
            header{
                nav{
                    ul{
                        div{
                            li{
                                a{
                                    color: $base-color;
                                    padding-left: 30px;
                                }
                                a:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-view{
            height: 95%;
            width: 100%;
            h1{
                
            }
            // Here is where the partials/alerts file will go BELOW
        }

    }
    // Dashboard
    .dashboard-container{
        .top-text{
            h2, h3{

            }
            h2{
                font-size: 56px;
                margin: 0;
            }
            h3{

            }
            // the Arrow, want it to bounce up n down
            div{
                height: 100px;
                width: 50px;
                font-size: 70px;
            }
        }
        div.dropdown{
            height: 100%;
            button{
                color: $text-color;
                h3{
                    color: $text-color;
                }
            }
            div.dropdown-content{
                // all of our cities in the dropdown
                height: 100%;
                a{
                    font-size: 36px;
                }
            }
        }
    }
    // dropdown changes
    .dropdown-content.show{
        height: 80%;
        bottom: 0;
        top: 15%;
    }
    div.city-show{
        justify-content: space-between;
        div{
            h2{
                font-size: 50px;
                margin-bottom: 50px;
            }
            img{

            }
        }
        form{
            button{
                
            }
            button:hover{
                text-decoration: underline;
                background-color: $dark-green;
                color: $header-text;
            }
        }
    }

    div.allreviews-container{

    }
}
