* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: linear-gradient(114.75deg, #2B7A78 50%, #DEF2F1 50%, #3AAFA9 50%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body div.nav-view {
  display: none;
  height: 10%;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

body div.nav-view header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

body div.nav-view header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

body div.nav-view header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

body div.nav-view header nav ul div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body div.nav-view header nav ul div li a {
  color: #DEF2F1;
}

body div.main-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.dashboard-container .top-text {
  padding-top: 15pt;
  margin-bottom: 50pt;
  height: 150pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-container .top-text h2 {
  font-size: 38pt;
}

.dashboard-container .top-text h3 {
  font-size: 20pt;
  font-weight: 300;
}

.dashboard-container .top-text h2, .dashboard-container .top-text h3 {
  color: #17252A;
  margin-bottom: 15pt;
}

.dashboard-container .top-text div {
  font-size: 50pt;
}

.dropbtn {
  background-color: #17252A;
  color: white;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 100%;
  margin-top: 50pt;
}

.dropbtn h3 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2B7A78;
}

.dropbtn:hover h3:hover, .dropbtn:focus h3:hover {
  color: #17252A;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown button h3 {
  font-size: 26pt;
  font-weight: 100;
  letter-spacing: 5pt;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: #17252A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-bottom: 2pt solid #17252A;
  padding: 25pt 0;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #2B7A78;
}

.show {
  display: block;
}

.dropdown-content.show {
  height: 300pt;
  width: 100%;
  overflow-y: scroll;
  bottom: 52%;
  border-top: 2pt solid #17252A;
}

div.city-show {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.city-show div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 100%;
}

div.city-show div h2 {
  margin-top: 15pt;
}

div.city-show div img {
  height: 250pt;
  width: 250pt;
  border-radius: 15pt;
  border: 3.5pt solid #17252A;
}

div.city-show form {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.city-show form button {
  background-color: #17252A;
  height: 100%;
  width: 100%;
  color: #DEF2F1;
  font-size: 26pt;
}

.alert.alert-success {
  color: #3AAFA9;
}

@media only screen and (min-width: 768px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: none;
    background-color: #3AAFA9;
  }
  body div.nav-view {
    width: 100%;
    height: 5%;
    display: block;
    background-color: #17252A;
  }
  body .main-view {
    height: 95%;
    width: 100%;
  }
  .dashboard-container .top-text h2 {
    font-size: 56px;
    margin: 0;
  }
  .dashboard-container .top-text div {
    height: 100px;
    width: 50px;
    font-size: 70px;
  }
  .dashboard-container div.dropdown {
    height: 100%;
  }
  .dashboard-container div.dropdown button {
    color: #DEF2F1;
  }
  .dashboard-container div.dropdown button h3 {
    color: #DEF2F1;
  }
  .dashboard-container div.dropdown div.dropdown-content a {
    font-size: 36px;
  }
  .dropdown-content.show {
    height: 100%;
  }
}
/*# sourceMappingURL=darius.css.map */