nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 0.3em;
}
li {
  list-style: none;
}

body.homeDella {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/jetHome.png");
}
body.jetLoginDella {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/jetLogin.png");
}
body.jetSignupDella {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/jetSignup.png");
}

div.boxHomeDella {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 15px solid burlywood;
  border-radius: 25px;
}
div.boxLoginDella {
  height: 200px;
  width: 300px;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
  background-color: opacity;
  border: 15px solid rgb(71, 108, 146);
}

div.boxSignupDella {
  height: 200px;
  width: 300px;
  padding: 50px;
  margin: 20px;
  margin-top: 175px;
  border-radius: 25px;
  background-color: opacity;
  border: 15px solid rgb(31, 68, 177);
}
div.maldivesDella {
  color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label.labelBoxDella {
  display: block;
  color: blue;
  font-size: xx-large;
}
label.labelLoginDella {
  display: block;
  font-size: xx-large;
}
input.inputLoginDella {
  border-radius: 10px;
}
input.loginBoxDella {
  border-radius: 10px;
  font-size: large;
}
input.inputBoxDella {
  display: block;
  border-radius: 10px;
}
input.submitBoxDella {
  border-radius: 10px;
  color: blue;
}
a.signCenter {
  font-size: xx-large;
  font-weight: bolder;
  color: burlywood;
}
a.loginCenter {
  font-size: xx-large;
  font-weight: bolder;
  color: burlywood;
}
a.signInHomeDella {
  font-size: xx-large;
  font-weight: bolder;
  color: brown;
}

a.loginHomeDella {
  color: brown;
  font-size: xx-large;
  font-weight: bolder;
}
@media only screen and (max-width: 375px) {
  body.home {
    max-width: 300px;
    width: 100%;
  }
  body.jetLogin {
    max-width: 300px;
    width: 100%;
  }
  body.jetSignup {
    max-width: 300px;
    width: 100%;
  }
}
/* .nav-view {
  display:none;
} */
