<h1>Add a new review</h1>

<div>
    <form action="/destinations/<%= destination.id %>/reviews/new" method="POST">
        <h3 id="username"><%= currentUser.name %></h3>
        <h3 id="cityname"><%= destination.city %></h3>
        <input id="reviewcontent" type="text" placeholder="Enter Review Here">
    </form>
</div>